<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render "layouts/header"%>
    <br></br><br></br><br>
      <div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
        <center>
        <div class="container">
          <div class="row pb30">
            <div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
              <h2 class="text-white text-center mb30">Sign up</h2>

                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="form-group">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br/>
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password_confirmation %><br/>
                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Sign up!", class: 'btn btn-rounded btn-primary btn-block' %>
                    </div>
                  <% end %>
                  <%= render "devise/shared/links" %>

              </div>
            </div>
          </div>
        </center>
        </div>
        <br>
      <%= render "layouts/footer"%>
  </body>
</html>
