<!DOCTYPE html>
<html>
  <head>
    <title>CatPicSeller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home Ecommerce || Unify Multipurpose HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="img/favicon.ico" >
		<!-- All CSS Here -->
		<!-- Bootstrap fremwork main css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate CSS -->
		<link rel="stylesheet" href="css/animate.css">
        <!-- This theme-plugins.css file contents all plugings CSS file. -->
		<link rel="stylesheet" href="css/theme-plugins.css">
		<!-- Theme shortcodes/elements style -->
		<link rel="stylesheet" href="css/shortcodes/shortcodes.css">
        <!-- Theme main style -->
		<link rel="stylesheet" href="style.css">
		<!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css">
		<!-- User style -->
		<link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">


		<!-- Modernizr js -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body>
    <%= yield %>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
<!-- plugins js -->
    <script src="js/plugins.js"></script>
<!-- main js -->
    <script src="js/main.js"></script>
  </body>
</html>
